extends defaultPage

block custom
	form#formQuickBid(name="bidform",method="post",action="/savebid")
		input#inputClientName(type="text", placeholder="Client's Name", name="clientName")
		input#inputLocation(type="text", placeholder="Location", name="location")
		input#inputphone(type="text", placeholder="Phone Number", name="phone")
		input#inputEmail(type="text", placeholder="Email", name="email")
		input#inputQuote(type="text", placeholder="Quote", name="quote")
		button#btnSubmit(type="submit") submit

		